<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{$title$}</title>

    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">

<style>
 table {
   border-collapse: collapse;
 }
 th, td {
   border: 1px solid orange;
   padding: 10px;
   text-align: left;
 }
</style>
</head>
<body>

    <div>quantity of goods: {$quantityGods$}</div>

    <div>
        <table>
        <tr>
            <th>id_assort</th>
            <th>product name</th>
            <th>quantity</th>
            <th>price purchase</th>
            <th>vat</th>
            <th>selling price</th>
            <th>EAN</th>
            <th>Barcode</th>
        </tr>

        {$container$}

        </table>
    </div>
</body>
</html>
